
.date_passive{
 	width: 12%;
    margin: 1.1%;
    padding: 0.5%;
    display: inline-block;
}
.date{
		cursor :default;

	-webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;

 	width: 12%;
	height: 12%;
    background: #333;
    margin: 1.1%;
    padding: 0.5%;
    font-size: 1.2em;
    font-weight:700;
    color :  #DDD;
    display: inline-block;
}
.date:hover{
	outline: 0.2vmax solid #FFAA00;
}
.month{
 	text-align: center;   
    padding:0.5em 0;
    margin:1% 0 1% 10%;
    width: calc(60% / 3);
	background: #333333;
	color : #CCCCCC;
	display:inline-block;
}
.month:hover{
	outline: 0.2vmax solid #FFAA00;
}

#months{
	margin-top:-0.2vmax;
	border: 0.15vmax solid #bbb;
	border-top: none;
	border-radius: 0 0 1vmax 1vmax;
}
.goal{
	border:white solid;
	border-radius: 0.8vmax ;
	padding:0.5vmax;
}
.goal h2{
	text-overflow: ellipsis; 
	overflow: hidden;
	width: 85%;
	white-space: nowrap;
}
.goal .btn-danger{
	margin-top: 10px;
}
.goal:nth-child(2n){
	background-color:#1DE9B6;
}
.goal:nth-child(2n+1){
	background-color:#B2FF59;
}
.panel{
	background-color:inherit ;
}
.goal_update h2{
    margin: 0;
    width: 100%;
}
.goal_update div{
	height: inherit
}
textarea{
	resize: vertical;
}

